<%= erb :my_partial %>
<form>
  <input type="text" name="post[uid]" />
  <input type="text" name="post[pub0]" />
  <input type="text" name="post[page]" />
  <input type="submit" value="Submit">
</form>