<div class="offer">
  <div class="title"><%= offer_element["title"] %></div>
  <div class="payout"><%= offer_element["payout"] %></div>
  <div class="thumbnail"><img src="<%= offer_element["thumbnail"] %>"></div>
</div>